$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Lato', sans-serif;

.font-secondary {
  font-family: $font-secondary !important;
}

// typography
.text-hero {
  font-size: 12rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: $font-primary;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'md-and-down')} {
    font-size: 9rem;
  }  

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 7rem;
  }    

  @media #{map-get($display-breakpoints, 'xs-only')} {
    font-size: 3.2rem;
  }
}

.text-header {
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $font-primary;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 36px;
    line-height: 36px;
  }
}

.text-card-1 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $font-primary;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 26px;
    line-height: 32px;
  }
}

.text-section {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: $font-primary;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 18px;
    line-height: 20px;
  }
}

.text-title {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: $font-primary;
  text-transform: uppercase;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 16px;
    line-height: 21px;
  }
}

.text-prompt {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: $font-primary;
  text-transform: uppercase;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 14px;
    line-height: 16px;
  }
}

.text-reference {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: $font-primary;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 14px;
    line-height: 16px;
  }
}

.text-body {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: $font-secondary;
  color: #2e2e2e;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 16px;
    line-height: 24px;
  }
}

p > a {
  color: #4A483D !important;
  border-bottom: 2px solid #B8B8B8;
  font-family: $font-primary;
  text-decoration: none;
}

li > a {
  color: #4A483D !important;
  text-decoration: none;  
}

.text--accent-sand {
 color: #db9487;
}
