$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Source Code Pro', 'monospace';


.font-secondary {
  font-family: $font-secondary !important;
}

.font-primary {
  font-family: $font-primary !important;
}

.text--dark {
  color: #47385C;
}

.text--black {
  color: #0e1111;
}

.text--gold {
  color: #B0A894;
}

.text-h1--aa {
  font-size: 64px;
  line-height: 72px;
  font-family: $font-primary;
  color: #333333;
  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 40px;
    line-height: 52px;
  }
}

.text-h2--aa {
  font-size: 48px;
  line-height: 60px;
  font-family: $font-primary;
  color: #333333;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 32px;
    line-height: 48px;
  }
}

.text-h3--aa {
  font-size: 32px;
  line-height: 36px;
  font-family: $font-secondary;
  color: #333333;
  font-weight: 300;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 28px;
    line-height: 32px;
  }
}

.text-h4--aa {
  font-size: 28px;
  line-height: 42px;
  font-family: $font-primary;
  color: #333333;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 24px;
    line-height: 36px;
  }
}

.text-body-1--aa {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: $font-primary;
  color: #333333;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 18px;
    line-height: 28px;
  }
}

.text-body-2--aa {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.2px;
  font-family: $font-secondary;
  color: #333333;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-body-3--aa {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: $font-primary;
  color: #333333;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 14px;
    line-height: 22px;
  }  
}

.text-body-4--aa{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: $font-secondary;
  color: #333333;
  letter-spacing: 0.08em;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 14px;
    line-height: 20px;
  }  
}

.text-blockquote {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  font-family: $font-primary;
  color: #333333;
  text-transform: uppercase;
  text-align: center;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 28px;
  }  
}

.text-ref {
  font-size: 14px;
  line-height: 22px;
  font-family: $font-secondary;

  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 12px;
    line-height: 18px;
  }
}

.line-divider {
  border-bottom: #9C89D8;
}

// p > a, li > a {
//   color: #0e1111 !important;
//   font-weight: 700;
//   border-bottom: 2px solid #0e1111;
//   text-decoration: none;
//   word-break: break-word;
// }

p > a, li > a {
  color: #0e1111 !important;
  border-bottom: 2px solid #D5C0D2;
  font-family: $font-primary;
  text-decoration: none;
}